/* GERAL */
@font-face {
    font-family: 'RobotoBlack';
    src:url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'RobotoRegular';
    src:url(../fonts/Roboto-Regular.ttf);
}

body{
    background-color: #FFF;
    font-family: 'RobotoBlack', sans-serif;
    margin: 0;
}

p{
    font-family: 'RobotoRegular', sans-serif;
}

a{
    text-decoration: none;
}

.navbar{
    position: fixed;
}

/* CONTEÚDO DA PÁGINA */

/* Busca */
.box-busca{
    padding: 70px 0 0 0;
}

.busca{
    display: flex;
    padding: 5vh 10vw 2vh;
}

.busca input{
    flex: 1;
    border-width: 2px 1px 2px 2px;
    border-color: #000;
    font-size: 15pt;
    padding: 0 0 0 10px;
    outline: none;
}

.busca button{
    outline: none;
    background-color: #EC284E;
    color: #000;
    font-size: 20pt;
    padding: 10px 15px;
    border-width: 2px 2px 2px 1px;
    border-color: #000;
    cursor: pointer;
}

.busca button:active{
    background-color: #00A0BA;
}

.busca button:active .busca button i{
    color: #FFF;
}

.busca button i{
    transform: rotateY(180deg);
}

/* Resultados */
#resultados-info{
    margin: 0 0 20px 0;
    text-align: center;
    visibility: hidden;
}

#resultados{
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 5vw;
}

.card{
    height: 150px;
    background-image: linear-gradient( to right, #EC284E, #000 55%);
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.card:active{
    background-image: linear-gradient( to right, #000, #00A0BA 55%);
}

.card img{
    width: 40%;
    height: 90%;
    padding: 0 10px;
}

.card div{
    color: #FFF;
    width: 60%;
}

@media(min-width: 576px) {
    .busca{
        padding: 5vh 30vw 2vh;
    }

    .resultados{
        padding: 0;
    }
}