/* GERAL */
@font-face {
    font-family: 'RobotoBlack';
    src:url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'RobotoRegular';
    src:url(../fonts/Roboto-Regular.ttf);
}

body{
    background-color: #FFF;
    font-family: 'RobotoBlack', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

.navbar{
    position: fixed;
}

/* CONTEÚDO DA PÁGINA */

/* Banner */
.banner{
    background-image: url(../img/bg_banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    height: 100vh;
}

.banner div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

.banner div a{
    background-color: #fff;  
    border-radius: 40px;
    color: #000;
    padding: 12px 20px;
    font-size: 1.5rem;
    width: 150px;
    text-align: center;
}

.banner div a:hover{
    background-color: #EC284E; 
    transition: 0.5s;
}