/* GERAL */
@font-face {
    font-family: 'RobotoBlack';
    src:url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'RobotoRegular';
    src:url(../fonts/Roboto-Regular.ttf);
}

body{
    background-color: #FFF;
    font-family: 'RobotoBlack', sans-serif;
    margin: 0;
}

p{
    font-family: 'RobotoRegular', sans-serif;
}

a{
    text-decoration: none;
}

.navbar{
    position: fixed;
    z-index: 3;
}

/* CONTEÚDO DA PÁGINA */

/* Banner */
.banner{
    background-image: url(../img/bg_banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    height: 100vh;
}

.banner > div{
    height: 100%;
}

.banner-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner-content h2{
    margin: 50px 0 50px;
    font-size: 20pt;
}

.banner-content p{
    margin: 50px 0 50px;
    text-align: center;
    background-color: rgba(43, 43, 43, 0.753);
    padding: 30px 30px;
}

.banner-content a{
    background-color: #fff;  
    border-radius: 40px;
    color: #000;
    margin: 50px 0 50px;
    padding: 12px 20px;
    font-size: 1.5rem;
    width: 150px;
    text-align: center;
}

.banner-content a:active{
    background-color: #EC284E;
}



/* EXPLICAÇÃO - PARTE2 DA HOME */
.explicacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explicacao h2{
    font-size: 2.5rem;
}

.conjunto1{
    display: flex;
    width: 80vw;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.conjunto1 .texto1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.imagem1{
    margin-left: 20vw;
}

.conjunto1 h2{
    margin-bottom: 1px;
}


.conjunto1 hr{
    border: solid 1px #EC284E;
    width: 130px; 
}

.imagem1{
    margin-left: 0px;
}



.conjunto3{
    display: flex;
    width: 80vw;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
} 

.conjunto3 .texto3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagem3{
    margin-left: 20vw;
}

.conjunto3 h2{
    margin-bottom: 1px;
}


.conjunto3 hr{
    border: solid 1px #EC284E;
    width: 130px; 
}

.conjunto2{
    display: flex;
    width: 80vw;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 



.conjunto2 .texto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}


.conjunto2 h2{
    margin-bottom: 1px;
}


.conjunto2 hr{
    border: solid 1px #EC284E;
    width: 130px; 
}

.imagem-desk{
    display: none;
}




.imagem1, .imagem3, .imagem3{
    margin: 0;
}

.imagem1, .imagem2, .imagem3{
    animation: float 8s ease-in-out infinite;
    transform: translatey(0px);
    /* width: 70vw; */
}



/* ANIMAÇÃO ÍCONE  */
@keyframes float
{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-20px);
    }
    100%{
        transform: translatey(0px);
    }
    
}

/* Parte3 - Teceira parte da Home  */
.parte3{
    display: flex;
    background-image: url(../img/fundo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.fundo-preto-desk{
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
}

.parte3 .informacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 100%;
    width: 100%;
}



.informacoes h2{
    color: #FFF;
    text-align: center;
    font-style: italic;
}

.informacoes hr{
    width: 200px;
    border: solid 2px #EC284E;
    
}

.informacoes .hr-1{
    margin-left: 0px;
}

.informacoes .hr-2{
    margin-right: 0px;
}

.informacoes p{
    color: #FFF;
    text-align: right;
    font-weight: 500;
    margin: 0px 50px 40px 0px;
}

.aspas{
    color: #EC284E;
    font-size: 2.5rem;
}


/* Ultima parte */

.Cadastre-se-fim div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #000 2px solid;
    width: 320px;
    padding: 5px 5px 40px 5px;
}

.Cadastre-se-fim{
    background-color: #EC284E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cadastre-se-fim h2{
    color: #000;
    font-size: 3rem;
    margin-bottom: 4px;
    font-family: 'RobotoBlack';
}

.Cadastre-se-fim p{
    color: #000;
    font-size: 1rem;
    text-align: center;
    font-family: 'RobotoRegular';
}

.Cadastre-se-fim a{
    color: #000;
    font-size: 1rem;
    text-align: center;
    background-color: #FFF;
    padding: 30px;
    border-radius: 16px;
    margin-top: 10px;
    font-family: 'RobotoBlack';
}

.Cadastre-se-fim a:hover{
    background-color: #000;
    transition: .7s;
    color: #fff;
}

footer{
    display: flex;
    height: 40vh;
    background-color: #000;
}




@media(min-width: 576px){
    .banner-content{
        align-items: flex-start;
        padding: 0 10vw 0 10vw;
    }
    
    .banner-content h2{
        margin: 10px 0;
        font-size: 4.5rem;
    }
    
    .banner-content p{
        margin: 16px 0 30px;
        text-align: left;
        background-color: initial;
        padding: 0;
        width: 50vw;
    }
    
    .banner-content a{
        background-color: #fff;  
        border-radius: 40px;
        color: #000;
        margin: 0;
        padding: 12px 20px;
        font-size: 1.5rem;
        width: 150px;
        text-align: center;
    }
    
    .banner-content a:hover{
        background-color: #EC284E;
    }
    
    .imagem-desk{
        display: flex;
    }
    
    
    .imagem-mobile{
        display: none;
    }
    
    .explicacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
    }
    
    .explicacao h2{
        font-size: 3rem;
    }
    
    .imagem2{
        margin-left: 50px;
    }
    
    
    
    .conjunto1{
        display: flex;
        width: 90vw;
        margin-top: 100px;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        text-align: left;
    } 
    
    .conjunto1 .texto1{
        display: flex;
        margin-top: 10px;
        width: 90vw;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .imagem1{
        margin-left: 20vw;
    }
    
    .conjunto1 h2{
        margin-bottom: 5px;
    }
    
    
    .conjunto1 hr{
        border: solid 1px #EC284E;
        width: 130px;
        margin-left: 1px;
    }
    
    
    .conjunto2{
        display: flex;
        flex-direction: row-reverse;
        width: 90vw;
        justify-content: center;
        align-items: center;
    } 
    
    
    
    .conjunto2 .texto2{
        display: flex;
        margin-top: 10px;
        text-align: right;
        width: 90vw;
        margin-left: 80px;
        margin-top: 10px;
        width: 90vw;
        text-align: right;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    
    
    .conjunto2 h2{
        margin-bottom: 5px;
    }
    
    
    .conjunto2 hr{
        border: solid 1px #EC284E;
        width: 210px;
        margin-right: 1px;
    }
    
    
    .conjunto3{
        display: flex;
        width: 90vw;
        margin-top: 100px;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        text-align: left;
    } 
    
    
    .conjunto3 .texto3{
        display: flex;
        margin-top: 10px;
        width: 90vw;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    
    .conjunto3 h2{
        margin-bottom: 5px;
    }
    
    
    .conjunto3 hr{
        border: solid 1px #EC284E;
        width: 140px;
        margin-left: 1px;
        
        
    }
    
    .imagem3{
        margin-left: 20vw;
    }
    
    
    /* Parte3 - Teceira parte da Home  */
    
    .fundo-preto-desk{
        background-color: rgba(0, 0, 0, 0.596);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .parte3 .informacoes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-top: 20px;
    }
    
    .informacoes hr{
        width: 400px;
        border: solid 4px #EC284E;
    }
    
    .informacoes h2{
        color: #FFF;
        text-align: center;
        font-style: italic;
        font-size: 2.5rem;
    }
    
    .informacoes p{
        color: #FFF;
        text-align: right;
        font-weight: 500;
        margin: 0px 50px 40px 0px;
    }
    
    .aspas{
        color: #EC284E;
        font-size: 2.5rem;
    }
    
    /* Ultima parte */
    
    .Cadastre-se-fim div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: #000 2px solid;
        width: 500px;
        padding: 5px 5px 40px 5px;
    }
    
    .Cadastre-se-fim{
        background-color: #EC284E;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Cadastre-se-fim h2{
        color: #000;
        font-size: 3rem;
        margin-bottom: 4px;
        font-family: 'RobotoBlack';
    }
    
    .Cadastre-se-fim p{
        color: #000;
        font-size: 1.2rem;
        text-align: center;
        font-family: 'RobotoRegular';
    }
    
}